@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background-color: #34D399;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #10B981;
  }
  